body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0px;
    width: calc(100% - 10px);
    height: 30px;
    background-color: black;
    padding: 5px;
    z-index: 999;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    width: 970px;
    margin: 0 auto;
}

main {
    width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
}

h1 {
    text-align: center;
    margin: 0;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item {
    width: 300px;
    height: 250px;
    margin: 5px;
    padding: 5px;
    background-color: aliceblue;
    box-shadow: 0 0 5px 0.5px grey;
    border-radius: 2px;
    position: relative;
}

.product-item:hover {
    background-color: white;
    box-shadow: 0 0 5px 1px grey;
}

.product-item h3 {
    margin: 0;
    text-align: center;
}

.product-item p {
    color: green;
    text-align: right;
}

.product-item p:after {
    content: '$';
}

.product-item button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: inline-block;
    width: 60px;
    height: 30px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    outline: none;
    border: 2px solid;
    border-color: #60a3d8 #2970a9 #2970a9 #60a3d8;
    border-radius: 5px;
    background: #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
}

.product-item button:active {
    bottom: 4.5px;
    right: 4.5px;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.menu ul > li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
}

.menu ul > li a:hover {
    color: black;
    background-color: white;
}

.btn-cart {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 30px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    outline: none;
    border: 2px solid;
    border-color: #60a3d8 #2970a9 #2970a9 #60a3d8;
    border-radius: 5px;
    background: #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
}

.btn-cart:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
}
